<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <button *ngIf="!user.social.google" ion-button (click)="googleSignIn()">Sign in with google</button>
  <ion-item *ngIf="user.social.google">
    <ion-avatar item-left>
      <img [src]="user.social.google.data.profile_picture">
    </ion-avatar>
    <h2>{{user.social.google.data.full_name}}</h2>
    <p>{{user.social.google.data.email}}</p>
  </ion-item>
  <button *ngIf="user.social.google" ion-button (click)="googleLogOut()">Log out from google</button>
</ion-content>